# maven ignore
target/
!.mvn/wrapper/*
.flattened-pom.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# system ignore
.DS_Store
Thumbs.db
*.orig

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/jarvis-samples/jarvis-samples-spring-boot/src/main/resources/application.yml